__tests__/fixtures/react-native/fabricRefRewrites/reactDevelopment/output.js linguist-generated
__tests__/fixtures/react-native/fabricRefRewrites/reactDevelopment_react19/output.js linguist-generated
__tests__/fixtures/react-native/fabricRefRewrites/reactJsxRuntimeDevelopment/output.js linguist-generated
__tests__/fixtures/react-native/fabricRefRewrites/reactJsxRuntimeDevelopment_react19/output.js linguist-generated
__tests__/fixtures/react-native/fabricRefRewrites/reactJsxRuntimeProduction/output.js linguist-generated
__tests__/fixtures/react-native/fabricRefRewrites/reactJsxRuntimeProduction_react19/output.js linguist-generated
__tests__/fixtures/react-native/fabricRefRewrites/reactProduction/output.js linguist-generated
__tests__/fixtures/react-native/fabricRefRewrites/reactProduction_react19/output.js linguist-generated